workflows/task-bot-receive.json
{
  "name": "タスクBot - 受信・保存",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwork-task-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, -100]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst webhookEventType = body.webhook_event_type;\nif (webhookEventType !== 'message_created') {\n  return [];\n}\nconst messageBody = body.webhook_event.body;\nconst sendTime = body.webhook_event.send_time;\nconst accountId = body.webhook_event.account_id;\n\n// UTC → JST（+9時間）\nconst date = new Date(sendTime * 1000 + 9 * 60 * 60 * 1000);\nconst month = date.getMonth() + 1;\nconst day = date.getDate();\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\nconst dateStr = `${month}月${day}日`;\nconst timeStr = `${hours}:${minutes}`;\nconst taskLine = `- [ ] ${messageBody} (${dateStr} ${timeStr})`;\nreturn [{\n  json: {\n    taskLine,\n    messageBody,\n    accountId\n  }\n}];"
      },
      "name": "メッセージ整形",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://naoki-obsidian.ngrok.io/vault/00_タスクBot/未完了タスク.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/markdown"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $json.taskLine + \"\\n\" }}",
        "options": {}
      },
      "name": "タスク追記",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "メッセージ整形",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "メッセージ整形": {
      "main": [
        [
          {
            "node": "タスク追記",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
